<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CmsTalkToCms.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="IsServiceEnabled" value="true"/>
    <add key="UserName" value="****"/>
    <add key="Password" value="****"/>
    <add key="Domain" value="****"/>
    <add key="EndPointAddress" value="/webservices/CoreService2011.svc/wsHttp"/>
    <add key="CoreServiceURL" value="http://domain.web8.com/webservices/CoreService2013.svc/wsHttp"/>
    <add key="PublicationID" value="21"/>
    <add key="PublicationTargetIDs" value="tcm:0-1-65538,tcm:0-2-65538"/>
    <add key="FolderLocation" value="tcm:5-3145-2"/>    
    <add key="SchemaID" value="tcm:3-9699-8"/>
  </appSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <CmsTalkToCms.Client.Properties.Settings>
            <setting name="CmsTalkToCms_Client_UmbracoContentService_UmbracoCrudOperations"
                serializeAs="String">
                <value>http://localhost:56002/Webservices/UmbracoCrudOperations.asmx</value>
            </setting>
        </CmsTalkToCms.Client.Properties.Settings>
    </applicationSettings>
</configuration>